{% extends "base.html" %}

{% block style %}
    <style>
        img {
            height: 150px;
            object-fit: contain;
        }
        .card-listttt {
            overflow: hidden;
            margin: 0 -3px;
            padding: 0;
            list-style: none;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        .card-itemm {
            width: 250px;
            margin: 0 3px 6px;
            float: left;
            display: list-item;
            text-align: -webkit-match-parent;
        }
        .card {
            position: relative;
            height: 300px;
            width: 250px;
        }
        .card-body {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn {
            color: white;
            position: absolute;
            bottom: 8px;
            left: 66px;
            font-size: 18px;
        }
        .page-link {
            color: #7979D3;
        }
        .page-item.active .page-link {
            background-color: #7979D3;
            border-color: #7979D3;
        }
        .book-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            width: 100%;
            font-size: 1.15em;
            font-weight: 600;
            height: 30px;
        }
        .card-text {
            bottom: 10px;            
        }
        p {
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block title %}대여 기록 페이지{% endblock %}

{% block script %}
    
{% endblock %}

{% block page_content %}    
    {% if book_list %}
    <div class="card-group">
        <ul class='card-listttt'>
            {% for book in book_list %}
                <li class="card-itemm">
                    <div class="card">
                        <a href="/detail/{{ book[0].id }}">
                            <img src="{{ url_for('static', filename='book_img/{0}'.format(book[0].book_img_path)) }}"  class="card-img-top" alt="{{ book[0].book_name }}">
                        </a>
                        <div class="card-body">
                            <a class="card-title book-title" href="/detail/{{ book[0].id }}" style='font-weight: bold;'>{{ book[0].book_name }}</a>
                            <p class="card-text">{{ book[1].borrow_start.strftime('%Y-%m-%d')  }} ~ {{ book[1].borrow_end.strftime('%Y-%m-%d') }}</p>
                            <a href={{ url_for('main.borrow', book_id=book[0].id) }} class="btn" role="button" data-bs-toggle="button" style='background-color: #7979D3;'>재대여하기</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!--
    <form onsubmit="search1()">
        <div class='container' style='display:flex; flex-direction:row; justify-content:center'>
            <div class="input-group mb-3" style='width: 500px;'>
                <input type="text" name='keyword' class="form-control" id="keyword" placeholder="검색할 제목을 입력해주세요." aria-label="Recipient's username" aria-describedby="basic-addon2" {% if keyword != None %} value={{keyword}} {% endif %}>
                <button class="input-group-text" id="basic-addon2" type="submit">검색</button>
            </div>
        </div>
    </form> 
    -->
    <!--페이지네이션 기능-->
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
        <li class="page-item"><a class="page-link" href="?page={{ pagination.prev_num }}">이전</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">이전</a></li>
        {% endif %}
        {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
                {% if page_num != pagination.page%}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="#" aria-current="page">{{ page_num }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ pagination.next_num }}">다음</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">다음</a></li>
        {% endif %}
    </ul>


    {% else %}
    <p>대여한 책이 없습니다.</p>
    {% endif %}
{% endblock %}
