{% extends "base.html" %}

{% block style %}
    <style>
        img {
            height: 150px;
            object-fit: contain;
        }
        .card-listttt {
            overflow: hidden;
            margin: 0 -3px;
            padding: 0;
            list-style: none;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        .card-itemm {
            width: 230px;
            margin: 0 3px 6px;
            float: left;
            display: list-item;
            text-align: -webkit-match-parent;
        }
        .card {
            height: 300px;
        }
        .btn {
            color: white;
            position: absolute;
            bottom: 8px;
            left: 66px;
            font-size: 18px;
        }
        .page-link {
            color: #7979D3;
        }
        .page-item.active .page-link {
            background-color: #7979D3;
            border-color: #7979D3;
        }
    </style>
{% endblock %}

{% block title %}메인 페이지{% endblock %}

{% block page_content %}    
    {% if book_list %}
    <div class="card-group">
        <ul class='card-listttt'>
        {% for book in book_list.items %}
                <li class="card-itemm">
                    <div class="card">
                        <a href="/detail/{{ book.id }}">
                            <img src="{{ url_for('static', filename='book_img/{0}'.format(book.book_img_path)) }}"  class="card-img-top" alt="{{ book.book_name }}">
                        </a>
                        <div class="card-body">
                            <a class="card-title" href="/detail/{{ book.id }}" style="font-weight:bold;">{{ book.book_name }}</a>
                            <p class="card-text">{{ book.stock }}권 남음</p>
                            <a href={{ url_for('main.borrow', book_id=book.id) }} class="btn" role="button" data-bs-toggle="button" style='background-color: #7979D3;'>대여하기</a>
                        </div>
                    </div>
                </li>
        {% endfor %}
        <ul>
    </div>
    
    <ul class="pagination justify-content-center">
        {% if book_list.has_prev %}
        <li class="page-item"><a class="page-link" href="?page={{ book_list.prev_num }}">이전</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">이전</a></li>
        {% endif %}
        {% for page_num in book_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != book_list.page%}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="#" aria-current="page">{{ page_num }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
        {% endfor %}
        {% if book_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ book_list.next_num }}">다음</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">다음</a></li>
        {% endif %}
    </ul>
    
    {% else %}
    <p>책이 없습니다.</p>
    {% endif %}
{% endblock %}
