{% extends "base.html" %}

{% block style %}
    <style>
        img {
            width: 300px;
            height: 200px;
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block title %}반납 페이지{% endblock %}

{% block page_content %}    
    {% if book_list %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for book in book_list %}
        <div class="col">
            <div class="card">
                <a href="/detail/{{ book.id }}">
                    <img src="{{ url_for('static', filename='book_img/{0}'.format(book.book_img_path)) }}"  class="card-img-top" alt="{{ book.book_name }}">
                </a>
                <div class="card-body">
                    <a class="card-title" href="/detail/{{ book.id }}">{{ book.book_name }}</a>
                    {% for borrow in borrows %}
                        {% if book.id == borrow.book_id %}
                            <p class="card-text">{{ borrow.borrow_start.strftime('%Y-%m-%d')  }} ~ {{ borrow.borrow_end.strftime('%Y-%m-%d') }}</p>
                        {% endif %}
                    {% endfor %}
                    <a href={{ url_for('turn.back', book_id=book.id) }} class="btn btn-primary" role="button" data-bs-toggle="button" style='background-color: #7979D3;'>반납하기</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>대여한 책이 없습니다.</p>
    {% endif %}
{% endblock %}
